<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배달의 스꾸</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      .pinkbox {
        background-color: pink;
        height: 200px;
        margin: 0;
        padding: 0;
      }
      .character {
        vertical-align: top;
      }
      button {
        background-color: gold;
        border-color: gold;
        color: hotpink;
        font-size: 25px;
        width: 500px;
      }
      .tofirst{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="pinkbox">
      <img
        class="timg"
        src="https://i.ibb.co/6Xp2y0n/image.png"
        width="500px"
        height="200px"
      />
    </div>
    <img
      src="https://i.ibb.co/DRTxm8w/Kakao-Talk-20200528-072227288.png"
      width="900px"
    /><img class="character" src="https://i.ibb.co/z6hHH7Z/6.png" border="0"></a>
    <div class="tofirst"><button type="button" onclick="location.href='back'">
      첫 화면으로 가기</button
    ></div>
  </body>
</html>
